logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

*.class
*.log
.metals/*
.vscode/*
# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
/null

# Scala-IDE specific
.scala_dependencies
.worksheet

# project specific
/src/data
*.csv
*.gif
*.svg
.env
.claude/
.context/